@font-face {
    font-family: Tomorrow-Regular;
    src: url("Tomorrow-Regular.ttf");
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

body {
    font-family: Tomorrow-Regular;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000000;
}

.logolink {
    display: block;
}

#logo {
    margin-top: 10px;
    margin-left: 10px;
    width: 118px;
    height: 50px;
}

.menu-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
}

.hamburger {
    width: 30px;
    cursor: pointer;
    margin: 20px;
    margin-right: 50px;
    transition: transform 0.4s ease;
}

.hamburger.slide-out {
    transform: translateX(-180px); /* Move the hamburger icon out of view */
    z-index: 2;
}

.hamburger {
    transform: translateX(0); /* Resets to original position */
}

.line {
    width: 100%;
    height: 4px;
    right: 0;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    transition: 0.4s;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
}

.content {
    margin-top: 200px;
    color: #ffbf00;
}

.competitionstitle {
    color: black;
    text-shadow: -1px -1px 0 #f8ba00, 1px -1px 0 rgb(248, 186, 0), -1px 1px 0 #f8ba00, 1px 1px 0 #f8ba00;
    font-size: 50px;
    width: 100%;
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    z-index: 1;
}

.side-menu a:hover {
    color: #f8ba00;
}

.side-menu.active {
    width: 250px;
    opacity: 0.8;
}

.class {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-size: 30px;
}

.robotitle {
    transform: rotateZ(-90deg);
    /* margin-top: auto;
    margin-left: auto; */
    
}

.sidebar {
    font-size: 2vw;
    width: 12%;
    background-color: rgb(34, 33, 33);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ROBORUSH {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    height: 60vh; /* Adjust height if necessary */
    width: 100%;
    margin: 0 auto; /* Centers the entire block horizontally */
}

.ROBOtop{
    display: flex;
    padding-left: 50px;
    width: 60%;
}

.roborushcontent{
    width: 40%;
}

.robocontent{
    font-size: 35px;
    margin-bottom: 80px;
    text-align: center;
}

.register{
    font-size: 40px;
    color: white;
}

.roborushimg {
    height: 60vh;
    width: 50vw;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.ytlink, .instalink, .fblink, .gilink, .lilink {
    height: 20px;
    width: 20px;
}

/* ========== Media Queries for Responsive Design ========== */

/* For tablets and smaller screens (max-width: 768px) */
@media (max-width: 1025px) {
    .Header {
        padding: 10px;
    }

    #logo {
        width: 90px;
        height: 40px;
    }

    .hamburger {
        width: 25px;
        margin-right: 20px;
    }

    .competitionstitle {
        font-size: 6vw;
    }

    .robotitle {
        margin-top: 10vw;
        margin-left: 2%;
        font-size: 6vw;
    }

    .sidebar {
        font-size: 28px;
        width: 10%;
        height: auto;
    }

    .ROBORUSH {
        flex-direction: column; /* Stack items vertically */
        justify-content: center;
        align-items: center; /* Centers both horizontally and vertically */
        height: auto;
        width: 100%;
    }

    .roborushimg {
        width: 90%; /* Adjust image width for smaller screens */
        height: auto;
    }

    .ROBOtop {
        width: 100%;
        justify-content: center;
        height: auto;
    }

    .roborushcontent {
        width: 90%;
        font-size: 2vw;
        text-align: center; /* Center the text in smaller screens */
    }

    footer {
        margin: 2%;
    }
}
